.navbar {
  position: flex;
  font-size: 200%;
  justify-content: space-between;
  background-color: green;
}

.links {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20%;
}

.todolist {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-left: 45%;
}

.disconnect {
  border: none;
  background-color: green;
  font-weight: bold;
  font-size: medium;
  margin-left: 92%;
  height: 50px;
}
